<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <h2>Add Product</h2>
    </div>
    <div class="container">
        <form th:object="${product}" th:action="@{/save}" method="POST">
            <label for="code" class="form-label">Code</label>
            <input type="text" name="code" id="code" class="form-control" th:field="*{code}">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" th:field="*{name}">
            <label for="price" class="form-label">Price</label>
            <input type="text" name="price" id="price" class="form-control" th:field="*{price}">
            <button type="submit" class="btn btn-primary">tambah</button>
        </form>
    </div>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>

</html>